<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class ="navbar">
      <li class = "navbarlist"><a class="active" href="/">Home</a></li>
      <li class = "navbarlist"><a href="/flights">ALL DEPARTURES</a></li>
      <li class = "navbarlist"><a href="/flights/new">ADD NEW</a></li>
    </ul>
    <img class = "img" src = "https://resize.hswstatic.com/w_907/gif/plane-crash1-1.jpg">
    <h1 class = "homepage"><%= title %></h1>
    <p class = "homepage_list">Welcome to <%= title %></p>


  </body>
</html>
