<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>LAX Air Control Center</title>
</head>
<body>
  <nav>
    <ul class ="navbar">
        <li class = "navbarlist"><a href="/">Home</a></li>
        <li class = "navbarlist"><a href="/flights">ALL DEPARTURES</a></li>
        <li class = "navbarlist"><a href="/flights/new">ADD NEW</a></li>
        <li class = "navbarlist"><a href="/tickets/new">TICKETS</a></li>
      </ul>
  </nav>

    <h1>LAX AIR CONTROL CENTER</h1>